<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" crossorigin="anonymous">
    <title>Celtics Management</title>
</head>
<body>

    <h1 class="info_h1 fa-h1">Something wrong about the username or password!</h1>

    <form action = "/failure" method = "post">
        <button class = "btn fa-btn" type = "submit">Try Again!</button>
    </form>
</body>
</html>