<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Celtics Management</title>
    <link rel="stylesheet" href="/css/styles.css" crossorigin="anonymous">

</head>

<body>
    <a class="back" href="/">Log out</a>
        <table class="main_table">
            <tr>
                <td>
                    <form action="/player" method="get">
                        <button class="btn main_btn" type="submit">Player</button>
                    </form>
                </td>
                <td>
                    <form action="/coach" method="get">
                        <button class="btn main_btn" type="submit">Coach</button>
                    </form>
                </td>
                <td>
                    <form action="/staff" method="get">
                        <button class="btn main_btn" type="submit">Staff</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/assist" method="get">
                        <button class="btn main_btn" type="submit">Assist</button>
                    </form>
                </td>
                <td>
                    <form action="/score" method="get">
                        <button class="btn main_btn" type="submit">Scoring</button>
                    </form>
                </td>
                <td>
                    <form action="/defence" method="get">
                        <button class="btn main_btn" type="submit">Defence</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/calendar" method="get">
                        <button class="btn main_btn" type="submit">Calendar</button>
                    </form>
                </td>
                <td>
                    <form action="/manager" method="get">
                        <button class="btn main_btn" type="submit">Manager</button>
                    </form>
                </td>
                <td>
                    <form action="/sponser" method="get">
                        <button class="btn main_btn" type="submit">Sponser</button>
                    </form>

                </td>

            </tr>
            <tr>
                <form action="/team" method="get">
                    <button class="btn main_btn team_btn" type="submit">Team : Celtics</button>
                </form>
            </tr>


        </table>


</body>

</html>