<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add player</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>
    <a class="back" href="/player">Back</a>
    <h1 class="info_h1">Add a new player</h1>

    <table class="player_add_table">


        <form class="form-horizontal" action="/player/add" method="post">

            <tr>
                <!-- Text -->
                <td>
                    <span>Num</span>
                </td>
                <td>
                    <input name="num" type="text" placeholder="Please input num" class="leipiplugins"
                        leipiplugins="text">
                </td>


            </tr>
            <tr>
                <!-- Text -->
                <td>
                    <span>Firstname</span>
                </td>
                <td>

                    <input name="firstName" type="text" placeholder="Please input firstname" class="leipiplugins"
                        leipiplugins="text">
                </td>



            </tr>
            <tr>
                <!-- Text -->
                <td>
                    <span>Lastname</span>
                </td>

                <td>

                    <input name="lastName" type="text" placeholder="Please input lastname" class="leipiplugins"
                        leipiplugins="text">
                </td>


            </tr>
            <tr>

                <!-- Text -->
                <td>
                    <span>Dob</span>
                </td>
                <td>

                    <input name="dob" type="text" placeholder="Like: XXXX-XX-XX" class="leipiplugins"
                        leipiplugins="text">
                </td>

            </tr>
            <tr>

                <!-- Text -->
                <td>

                    <span>Position</span>
                </td>

                <td>

                    <input name="position" type="text" placeholder="Please input position" class="leipiplugins"
                        leipiplugins="text">
                </td>

            </tr>
            <tr>


                <!-- Text -->
                <td>

                    <span>University</span>
                </td>

                <td>

                    <input name="university" type="text" placeholder="Please input university" class="leipiplugins"
                        leipiplugins="text">
                </td>
            </tr>

            <tr>

                <!-- Text -->
                <td>

                    <span>GamePlayed</span>
                </td>

                <td>
                    <input name="gameplayed" type="text" placeholder="Please input number" class="leipiplugins"
                        leipiplugins="text">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn" type="submit" value="submit">
                </td>
            </tr>


        </form>
    </table>

</body>

</html>